[Unit]
 Description=light detector
 After=pulseaudio.service

[Service]
 User=pi
 Group=pi
 ExecStart=/home/pi/carputer/scripts/lightdetect.py

[Install]
 WantedBy=multi-user.target
